<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Dashboard</title>
        <link rel="stylesheet" href="static\styles\style.css">
        <link rel="stylesheet" href="static\styles\dropdown.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
<!-- Full-width navbar with light pink background and bold black buttons -->
        <div class="container-fluid" style="background-color: #ffcccb; padding: 10px;">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <div class="container-fluid">
                    <div style="font-size: 22px;"><strong>Welcome Admin</strong></div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link btn btn-dark mx-2 text-white fw-bold" href="#home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-dark mx-2 text-white fw-bold" href="{{url_for('search_tab_admin')}}">Search</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-dark mx-2 text-white fw-bold" href="#summary">Summary</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-dark mx-2 text-white fw-bold" href="/">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

<!-- For home tab -->

        <div id="home" class="content-section">
        <!-- Service table -->
            <div class="container-box">
                <h2>Services</h2>
                <table class="table table-dark table-striped" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Service Name</th>
                            <th scope="col">Base Price</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in service_list %}
                        <tr>
                            <th scope="row"><a href="/service_request/{{service.id}}">{{service.id}}</a></th>
                            <td>{{service.name}}</td>
                            <td>{{service.basic_price}}</td>
                            <td>
                                <a href="/edit_service/{{service.id}}" type="button" class="badge bg-primary">Edit</a>
                                <a href="/delete_service/{{service.id}}" type="button" class="badge bg-danger">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div style="display: flex; justify-content: right;">
                    <a href="/add_service" class="badge bg-dark">+ New Service</a> <!--new page opened (new_service.html) for entering the new service details-->
                </div>
            </div>
        <!-- professional table -->
            {% if prof_list != [] %}
            <div class="container-box">
                <h2>Professionals</h2>
                <table class="table table-dark table-striped" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email-ID</th>
                            <th scope="col">Experience(Years)</th>
                            <th scope="col">Service Name</th>
                            <th scope="col">Service Name</th>
                            <th scope="col" >Action</th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prof in prof_list %}
                            <tr>
                                <th scope="row"><a href="{{url_for('professional',prof_id=prof.id)}}">{{prof.id}} </a></th>
                                <td>{{prof.full_name}}</td>
                                <td>{{prof.email_id}}</td>
                                <td>{{prof.experience}}</td>
                                <td>{{service_dict[prof.service_id].name}}</td>
                                <td><a href="/display_file/{{prof.proof_doc}}">{{prof.proof_doc}}</a></td>
                                {% if prof.profile_status == 0 and prof.blocked_status == 0 %}
                                <td>
                                    <a type="button" href="{{ url_for('approve_prof',prof_id=prof.id) }}" class="badge bg-success">Approve</a>
                                    <a type="button" href="{{ url_for('reject_prof',prof_id=prof.id) }}" class="badge bg-danger">Reject</a>
                                    <a type="button" href="{{ url_for('block_prof',prof_id=prof.id) }}" class="badge bg-warning">Block</a>
                                </td>
                                 
                                {% elif prof.profile_status == 1 and prof.blocked_status == 0 %}
                                <td>
                                    <a type="button" href="{{ url_for('block_prof',prof_id=prof.id) }}" class="badge bg-dark">Block</a>
                                </td>
                                {% else %}
                                <td>
                                    <a type="button" href="{{ url_for('unblock_prof',prof_id=prof.id) }}" class="badge bg-light text-dark">Un Block</a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <div class="container-box">
                    <h2>Professionals</h2>
                    <table class="table table-dark table-striped" style="text-align: center;">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email-ID</th>
                                <th scope="col">Experience(Years)</th>
                                <th scope="col">Service Name</th>
                                <th scope="col" >Action</th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <th scope="row"><a href="#">---</a></th>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>---</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>

<!-- for summary statistical charts -->
        <div id="summary" class="content-section">
            <h1>Overall Customer Ratings</h1>
            <h1>Service Request Summary</h1>
        </div>
    </body>
</html>

