<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Customer Dashboard</title>
        <link rel="stylesheet" href="/static\styles\style.css">
        <link rel="stylesheet" href="/static\styles\dropdown.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
<!-- Full-width navbar with light pink background and bold black buttons -->
        <div class="container-fluid" style="background-color: #ffcccb; padding: 10px;">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <div class="container-fluid">
                    <div style="font-size: 22px;"><strong>Welcome {{cust_obj.full_name}}</strong></div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link btn btn-dark mx-2 text-white fw-bold" href="{{url_for('customer_dashboard',cust_id=cust_obj.id)}}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-dark mx-2 text-white fw-bold" href="{{url_for('search_tab_admin')}}">Search</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-dark mx-2 text-white fw-bold" href="#summary">Summary</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-dark mx-2 text-white fw-bold" href="/">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div style="margin: 80px;">
            <h3>Select a date for your service :</h3><br>
            <form action="" method="POST" style="margin-left: 80px;display: flex; gap: 10px;">
                <label for="date" class="form-label" style="font-size: 20px;">Service date</label>
                <input type="date" class="form-control" id="date" style="width: 150px;" name="date"><br>
                <button type="submit" style="text-align: center;align-items: center;" class="btn btn-primary" style="width: 170px;">Submit </button>
            </form>
        </div>
    </body>
</html>