<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My App</title>
    <link rel="stylesheet" href="C:\Users\NIHI SHABEEB\Desktop\IIT M\Term 5\MAD1 Project\House Service\Household-Services-App\static\style.css">
    <!-- Bootstrap CSS -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #d78eb1, #c7cccc);
            height: 100vh;
        }
    </style>
</head>
<body class="d-flex flex-column align-items-center justify-content-center vh-100 bg-light">

    <!-- Image Circle Layout -->
    <div class="image-circle-container">
        <img src="C:\Users\NIHI SHABEEB\Desktop\IIT M\Term 5\MAD1 Project\House Service\Household-Services-App\static\house.png" alt="Center Image" class="center-image"> <!-- Center image -->
        
        <!-- Surrounding images -->
        <img src="C:\Users\NIHI SHABEEB\Desktop\IIT M\Term 5\MAD1 Project\House Service\Household-Services-App\static\carpentry.png" alt="Surrounding Image 1" class="surrounding-image image-1">
        <img src="C:\Users\NIHI SHABEEB\Desktop\IIT M\Term 5\MAD1 Project\House Service\Household-Services-App\static\construction.png" alt="Surrounding Image 2" class="surrounding-image image-2">
        <img src="C:\Users\NIHI SHABEEB\Desktop\IIT M\Term 5\MAD1 Project\House Service\Household-Services-App\static\electrical_work.png" alt="Surrounding Image 3" class="surrounding-image image-3">
        <img src="C:\Users\NIHI SHABEEB\Desktop\IIT M\Term 5\MAD1 Project\House Service\Household-Services-App\static\mopping.png" alt="Surrounding Image 4" class="surrounding-image image-4">
        <img src="C:\Users\NIHI SHABEEB\Desktop\IIT M\Term 5\MAD1 Project\House Service\Household-Services-App\static\painting.png" alt="Surrounding Image 5" class="surrounding-image image-5">
    </div>

    <!-- Text Box Below the Images -->
    <div class="text-box">
        <h2>Welcome to A-Z Household Service</h2>
        <p>All in one touch !!!!</p>
    </div>
    <div class="center"><a href="/login" type="button" class="btn btn-primary">Login</a></div>


</body>
</html>



