<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="edit_service\static\styles\style.css"> -->
        <style>
            .container-box2 {
                padding: 20px;
                background-color: #e9eef2; /* Light grey background */
                border: 2px solid #bc9c9c; /* Light grey border */
                border-radius: 10px;
                margin-top: 120px;
                margin-left: 200px;
                margin-right: 200px;
                margin-bottom: 50px;
            }
        </style>
    </head>
    <body>
        <!-- Full-width navbar with light pink background and bold black buttons -->
        <div class="container-fluid" style="background-color: #ffcccb; padding: 10px;">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <div class="container-fluid">
                    <h2>Service</h2>
                </div>
            </nav>
        </div>

        <img src="static\Cleaning.png" alt="Surrounding Image 1" class="surrounding-image image-1">
        <div class="container-box2" >
            <h2 style="text-align: center;">{{service.name}} </h2><br>
            <form action="/edit_service/{{service.id}}" method="POST">
                <div class="input-group" >
                    <span style="width: 25%;font-size: 20px; " >Service Name </span>
                    <input type="text" class="form-control"  id="name" name="name" value="{{service.name}}"/>
                </div><br>
                <div class="input-group" >
                    <span style="width: 25%;font-size: 20px; " >Best Price ₹</span>
                    <input type="text" class="form-control" id="price" name="price" value="{{service.basic_price}}"/>
                </div><br>
                <div class="input-group" >
                    <label for="description" class="form-label" style="width: 25%;font-size: 20px; ">Description </label>
                    <input type="text" class="form-control" id="descrip" name="descrip" value="{{service.Description}}"/>                </div><br><br>
                <div class="center">
                    <button type="submit" style="text-align: center;align-items: center;" class="btn btn-primary" style="width: 170px;">Save Changes</button>
                </div>
            </form>
        </div>
    </body>
</html>
            